*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar
{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-logo
{
    height: 50px;
    width: 100px;

}
.logo
{
    background-image: url(images/amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;

}
.border
{
    border: 1.5px solid transparent;
    
}
.border:hover
{
    border:1.5px solid white ;
    cursor: pointer;
    
    
}
.Deliver
{
 color: #cccc;
 font-size: 0.85rem;
 padding-left: 15px;

}
.location
{
    font-size: 1rem;
    padding-left: 4px;
}
.adress-icon
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nav-search
{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    
}
.search-input
{
    
    font-size: 1rem;
    width: 700px;
    height: 30px;

    
}
.search-icon
{
    background-color: rgb(206, 176, 88);
    color: #525858;
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search-select 
{
    width: 60px;
    height: 35.54px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.language
{
    display: flex;
    padding-left: 30px;
}
.Hello
{
    font-size: 0.85rem;
}
.costomer
{
padding-left: 20px;
}
.returns
{
    padding-left: 30px;
}
.cart
{
    font-size: 1.5rem;
    align-items: center;
    padding-left: 20px;
}
.panel
{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
    cursor: pointer;
}

.panel-ops
{
    width: 80%;
    font-size: 0.85rem;
}
.panel-end
{
    font-size: 0.9rem;
    font-weight: 700;

}
/** hero section**/
.hero-section
{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg
{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    margin-bottom: 25px;
}

/* border: 2px solid black; */
.shop-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
height: 400px;
width: 23%;
background-color: white;
padding: 20px 0px 15px;
margin-top: 15px;

}
.box-img
{
height: 300px;
background-size: cover;
margin-top: 1rem;
margin-bottom: 1rem;

}
.box-content 
{
margin-left: 1rem;
margin-right: 1rem;

}

.box-content p 
{
color: #007185;
cursor: pointer;
}
.footer
{
    margin-top: 15px;
}
.foot-panel1
{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}
.foot-panel2
{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}
.foot-panel2 a
{
  display: block; 
  font-size: 0.8rem;
  cursor: pointer;  
  margin-top: 10px;
}
.foot-panel2 ul
{
    margin-top: 10px;
}
.foot-panel3
{
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo
{
    background-image: url(images/amazon_logo.png);
    height: 50px;
    background-size: cover;
    width: 100px;
}
.foot-panel4
{
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rems;
    text-align: center;
}
.pages
{
    padding-top: 25px;
}
.copyright
{
    text-align: center;
}